.navbar-brand, .navbar-nav > li > a {
	font-weight: 500;
	color: #ECF0F1 !important;
	margin-left: 0 !important;
	line-height: 32px;
}

.site_title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 400;
	font-size: 22px;
	width: 100%;
	color: #ECF0F1 !important;
	margin-left: 0 !important;
	line-height: 59px;
	display: block;
	height: 55px;
	margin: 0;
	padding-left: 10px;
	&:hover, &:focus {
		text-decoration: none;
		color: #ECF0F1 !important;
	}
}

.nav {
	&.navbar-nav > li > a {
		color: #515356 !important;
	}
	&.top_menu > li > a {
		position: relative;
		display: block;
		padding: 10px 15px;
		color: #34495E !important;
	}
	> li > a {
		&:hover, &:focus {
			background-color: transparent;
		}
	}
	&.side-menu > li > a, &.child_menu > li > a {
		color: #E7E7E7 !important;
		font-weight: 500;
	}
	> li > a {
		position: relative;
		display: block;
		padding: 13px 15px 7px;
	}
	&.side-menu > li {
		&.current-page, &.active {
			border-right: 5px solid #1ABB9C;
		}
	}
	&.side-menu > li {
		position: relative;
		display: block;
		> a {
			margin-bottom: 6px;
			&:hover {
				color: #F2F5F7 !important;
				text-decoration: none;
				background: transparent;
			}
		}
	}
	> li > a:focus {
		text-decoration: none;
		background: transparent;
	}
	&.child_menu li {
		&:hover {
			background-color: rgba(255, 255, 255, 0.06);
		}
		padding-left: 36px;
	}
}

.profile_pic {
	width: 35%;
	float: left;
}

.img-circle.profile_img {
	width: 55px;
	height: 55px;
	background: #3280b0;
	margin-left: 15%;
	z-index: 1000;
	position: inherit;
	margin-top: 0;
	border: 1px solid rgba(52, 73, 94, 0.44);
	padding: 6px 10px;
	font-size: 30px;
	color: #fff;
	border: 1px solid #fff; 
}

.profile_info {
	padding: 0px 10px 10px;
	width: 65%;
	float: left;
	span {
		font-size: 13px;
		line-height: 30px;
		color: #BAB8B8;
	}
	h2 {
		font-size: 14px;
		color: #ECF0F1;
		margin: 0;
		font-weight: 300;
	}
}

.profile.img_2 {
	text-align: center;
	.profile_pic {
		width: 100%;
		.img-circle.profile_img {
			width: 50%;
			margin: 10px 0 0;
		}
	}
	.profile_info {
		padding: 15px 10px 0;
		width: 100%;
		margin-bottom: 10px;
		float: left;
	}
}

.main_menu_side {
	padding: 0;
}

#sidebar-menu {
	.fa {
		width: 26px;
		opacity: .99;
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	span{
		&.fa {
			float: right;
			text-align: center;
			margin-top: 5px;
			font-size: 10px !important;
			min-width: inherit;
			color: #C4CFDA;
		}
	}
}

.nav.side-menu> li.active > a {
  color: #ff0000;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
  background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
  background: -moz-linear-gradient(#334556, #2C4257), #2A3F54;
  background: -o-linear-gradient(#334556, #2C4257), #2A3F54;
  background: linear-gradient(#334556, #2C4257), #2A3F54;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.active-animation {
	overflow: hidden;
    height: 100%;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.inactive-animation {
	overflow: hidden;
    height: 0px;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.sidebar-footer {
	bottom: 0px;
	clear: both;
	display: block;
	padding: 5px 0 0 0;
	position: fixed;
	width: 230px;
	z-index: 1000;
	background: #2A3F54;
	a {
		padding: 7px 0 3px;
		text-align: center;
		width: 25%;
		font-size: 17px;
		display: block;
		float: left;
		background: #172D44;
		&:hover {
			background: #425567;
			color: #23527c;
		}
	}
}



a {
	color: #5A738E !important;
	text-decoration: none;
	outline: 0;
	&:visited, &:focus, &:active {
		outline: 0;
	}
}

:visited, :focus, :active {
	outline: 0;
}

.btn {
	&:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
		outline: 0;
	}
}

a {
	&:hover, &:focus {
		text-decoration: none;
		color: #23527c !important;
	}
}